<link rel='stylesheet' type='text/css' href='./views.css' />
<div style='display: flex; flex-direction: column; height: 100vh; padding: 0; margin: 0;'>
	<button onclick='window.location.href = "{{logout}}"' class='logout-btn'>
		logout
	</button>
	<div class='header'>
		<h1>u suk</h1>
	</div>
	<div class='dark-page'>
		<marquee class='epic-error' scrollamount='200'>{{error}}</marquee>
	</div>
</div>